{% extends 'base.html.twig' %}

{% block title %}
    Articles
{% endblock %}

{% block body %}
    <div class="section pt-5 pb-0">
        <div class="container">
            <div class="row mb-5 justify-content-center">
                <div class="col-lg-9">
                    <h2 class="heading">
                        Tous les articles
                    </h2>
                </div>
            </div>
            <div class="row justify-content-center">
                {% for article in articles %}
                    <div class="col-lg-9">
                        <div class="post-entry d-md-flex small-horizontal mb-5">
                            <div class="me-md-5 thumbnail mb-3 mb-md-0">
                                <a href="/article/{{article.id}}/{{article.slug}}">
                                    <img src="{{article.thumbnailUrl}}" alt="Image" class="img-fluid">
                                </a>
                            </div>
                            <div class="content">
                                <div class="post-meta mb-3">
                                    <a href="#" class="category">
                                        {{ article.category.name }}
                                    </a>
                                    &mdash;
                                    <span class="date">
                                        {{ article.updatedDate|date('M d, y', "Europe/Paris") }} 
                                    </span>
                                </div>
                                <h2 class="heading">
                                    <a href="/article/{{article.id}}/{{article.slug}}">
                                        {{article.title}}
                                    </a>
                                </h2>
                                <p>
                                   {{article.excerpt}}
                                </p>
                                <a href="#" class="post-author d-flex align-items-center">
                                    <div class="author-pic">
                                        <img src="images/user-placeholder.jpg" alt="Image"></div>
                                    <div class="text">
                                        <strong>
                                            Sergy Campbell
                                        </strong>
                                        <span>Author, 26 published post</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {# <div class="row align-items-center justify-content-center py-5">
                <div class="col-lg-6 text-center">
                    <div class="custom-pagination">
                        <a href="#">1</a>
                        <a href="#" class="active">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a href="#">5</a>
                    </div>
                </div>
            </div> #}
        </div>
    </div>
{% endblock %}
